@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans bg-slate-50 min-h-screen text-slate-900;
        background-image:
            radial-gradient(at 0% 0%, hsla(220, 100%, 95%, 1) 0, transparent 50%),
            radial-gradient(at 100% 100%, hsla(260, 100%, 95%, 1) 0, transparent 50%);
    }
}

@layer components {
    .glass-card {
        @apply bg-white/80 backdrop-blur-md border border-white/30;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-slate-200 rounded-full hover:bg-slate-300;
    }
}